node_modules
# Dependencies
.node_modules
# Logs
npm-debug.log*  
yarn-debug.log*
yarn-error.log*
# Build output
dist/
# Temporary files
temp/
# IDE specific files
.vscode/
# Environment variables
.env